{% extends 'core/base.html' %}

{% block content %}
    <div class="tarjeta-blog">
            <h1><i>Mi Blog de Duendes</i></h1>
            <p><i>Para que protejan de tu Hogar.</i></p>
            <p class="sub-texto">Parte informativa.</p>
    </div>
    <div class="content-body">
            <ul>
                <li>🧝<strong>Duende Rojo:</strong> El color rojo en los duendes simboliza el amor, la pasión y la fuerza vital para el hogar.</li>
                <li>🧝<strong>Duende Verde:</strong> El color verde representa el equilibrio, la salud y la conexión con la prosperidad de la naturaleza.</li>
                <li>🧝<strong>Duende Azul:</strong> El color azul está asociado a la sabiduría, la paz mental y la armonía en la comunicación.</li>
                <li>🧝<strong>Duende Amarillo:</strong> El color amarillo se utiliza para atraer la abundancia, el éxito y la alegría.</li>
                <li>🧝<strong>Duende Blanco:</strong> El color blanco simboliza la pureza y se usa para la limpieza energética de los espacios.</li>
            </ul>
            </div>
{% endblock %}